.profile-text {
  font-size: 1rem;
  color: #d0d0d0;
  text-align: justify;
  line-height: 1.8;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #2c2c2c;
  margin-bottom: 25px;
}
