.navbar {
  background: #2563eb;
  padding: 15px 25px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #dbeafe;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

.navbar-links a:hover {
  color: white;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.content {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  min-height: 300px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}
