<nav class="navbar">
  <div class="navbar-container">
    <span class="navbar-title">Angular Forms</span>

    <div class="navbar-links">
      <a routerLink="/template-demo" routerLinkActive="active-link">
        Template Demo
      </a>

      <a routerLink="/reactive-demo" routerLinkActive="active-link">
        Reactive Demo
      </a>

      <a routerLink="/custom-form" routerLinkActive="active-link">
        Custom Form
      </a>
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
